.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.mainContent {
  flex: 1;
  min-width: 0;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.mainContent::-webkit-scrollbar {
  display: none;
}

.viewerContainer {
  position: fixed;
  background-color: var(--background);
  z-index: 900;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1000px) {
  .wrapper {
    flex-direction: row;
  }

  .viewerContainer {
    top: 0;
    right: 0;
    bottom: 0;
  }

  .resizer {
    position: absolute;
    left: -5px;
    top: 0;
    bottom: 0;
    width: 10px;
    cursor: col-resize;
    z-index: 50;
    color: red;
  }
}

@media (max-width: 999px) {
  .viewerContainer {
    left: 0;
    right: 0;
    bottom: 0;
    height: 30vh;
    border-top: 1px solid var(--navbar-border);
  }

  .resizer {
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    height: 10px;
    cursor: row-resize;
    z-index: 50;
  }
}
