.title {
	font-size: 3rem;
	color: #51a6fc;
	margin-bottom: -3rem;
}

.subtitle {
	font-family: var(--font-new-york);
	margin-bottom: 2rem;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button {
	margin-top: 3rem;
	font-size: 1.5rem;
	padding: 1rem 1.5rem;
	background: var(--navbar-border);
	border-radius: 20px;
	transition: all 0.2s;
}

.button:hover {
	background: #51a6fc;
}

.visitorCount {
	font-size: 1.5rem !important;
	margin-top: 1.5rem;
	font-family: "Departure Mono", monospace;
	padding: 1rem 0;
}
